/* {
    --rosa: #D955AA;
    --rosaClaro: #F25ECB;
    --celesteClaro:#88C9F2;
    --celeste: #7EBFD9;
    --naranja: #F29B30;
} */

/* rosa: #F22248
rosa claro:#F27E93
azul: #274873
celeste:#6C9BD9
crema:#F2D5D5 */

body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    background-color:#6C9BD9;
    animation-name: transicionColor;
    animation-duration: 4s;
    min-height: 10vh;
}

@keyframes transicionColor{
    from {
        background-color: #3164a7;
    }

    to {
        background-color: #6C9BD9;
    }
}

.active {
    background-color: #e9e9e9 !important;
    color: #F22248 !important;
}

header>ul>li>a {
    color: #e9e9e9 !important;
    font-weight: bolder !important;
}

header>ul>li>a:hover {
    color: #F22248 !important;
}

.barra {
    /* border: 1px solid#F27E93; */
    background-color: #F2D5D5;
    margin-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #F22248;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.4rem #A8B1B8;
}

a>.material-symbols-outlined {
    padding-top: 0.5rem;
    color: #F22248;
    font-size: xx-large;
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
}

main {
    color: #274873;
    min-height: 80vh !important;
}

.btn {
    background-color: #6C9BD9;
    color: #e9e9e9;
    box-shadow: 0.2rem 0.2rem 0.4rem #A8B1B8;
}

.btn:hover {
    background-color: #F22248 !important;
    color: #e9e9e9;
}

.buscador {
    margin-top: 2rem !important;
    padding-right: 2rem;
}

.card {
    background-color: #f3f3f3;
    box-shadow: 0.2rem 0.2rem 0.4rem #A8B1B8;
    margin: 0.3rem;

}

.cardss:hover {
    background-color: #F2D5D5;
    border: 2px solid #F22248;
    color: #F22248;
}

.card-title {
    font-weight: bolder;
}

.card-footer>p {
    font-weight: 500;
}

footer {
    background-color: #F22248 !important;
    color: #e9e9e9;
    min-height: 10vh !important;
    padding-right: 2rem !important;
    margin-top: 3rem;
}

header>a>img {
    width: 150px;
}

.redes {
    width: 20px;
}

form label {
    font-weight: 700;
}

.details {
    margin-top: 2rem;
}

#card:hover{
    background-color: #f3f3f3 !important;
    border: 2px solid #F22248 !important;
    color: #274873 !important;
    border: 1px solid #274873 !important;
}

/* contenedor de carta de detail */
.conCard{
min-height: 70vh;
}


#cardimg{
    object-fit: cover;
    min-height: 60vh;
}

td {
    font-size: medium;
    font-weight: 400;
}

.titulo {
    background-color: #6C9BD9 !important;
    color: #e9e9e9;
    font-size: large;
    font-weight: 700;
}

table,
th,
td {
    margin-top: 1.5rem;
    border: 1px solid #6C9BD9 !important;
    font-weight:  600;
    color: #274873;
    min-width: 25vw;
}

table,
.form {
    box-shadow: 0.2rem 0.2rem 0.4rem #A8B1B8;
}

#tabla1 > h3 , #tabla2 > h3, #tabla3 > h3{
    margin-top: 3rem;
}

tr:hover {
    background-color: #F2D5D5;
    color: #F22248;
}

.form-check-input{
 background-color: #F2D5D5;
 color:  #F27E93 !important;

}

#cardDetail{
    color:#274873;
}
#cardDetail .card-title{
    padding-top: 1rem;
    color:#F22248;
}


#imgCard{
    object-fit:cover;
    width: 270px;   
    height: 30vh; 
 }

 @media (max-width: 425px) {
    .card>#imgCard {
      width: 100%;
      height: 30vh;
    }

    .card{
    width: 70vw;
    }
  }